@import "tailwindcss";

*{
  font-family: "Nunito", sans-serif;
}

html, #root{
  height: 100%;
}

body{
  height: 100%;
  transition: all;
  transition-duration: 200ms;
}


#cartItem::-webkit-scrollbar{
  display: none;
}

#prodDetail::-webkit-scrollbar{
  display: none;
}
